.hero {
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url(../assets/Sophie_Instagram/121977567_129001298648123_254.jpg); */

  /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), #FBD3D3), url(../assets/Sophie_Instagram/121977567_129001298648123_254.jpg); */

  /* background-image: linear-gradient(rgba(254, 174, 154, 0.5), rgba(254, 174, 154, 0.9)), url(../assets/Sophie_Instagram/121977567_129001298648123_254.jpg); */

  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(254, 174, 154, 0.9)), url(../assets/Sophie_Instagram/121977567_129001298648123_254.jpg);

  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

section {
  text-align: center;
  padding: 50px;
}

h1 {
  padding: 20px;
  font-weight: 300 !important;
}

.xena,
.instagram-feed {
  background-color: #FBD3D3;
}

#background {
  position: fixed;
  top: 400px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  font-size: 100px;
  font-weight: 300 !important;
}

.fade-in-up {
  animation: fadeIn ease 3s;
  
  }

  @keyframes fadeIn {
  0% {
    opacity:0;
    transform: translateY(50px);
  }
  100% {
    opacity:1;
    transform: translateY();
  }
  }

.about-sophie {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4) 3%, rgba(255, 255, 255, 1));

}

.insta-pic {
  height: 100%;
  object-fit: cover;
  padding-bottom: 20px;
  /* min-width: 250px;
  min-height: 250px; */
}

.testimonials {
  background-color: #FEAE9A;
}

.author {
  color: bisque;
  font-size: smaller;
}

.headshot {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 20px;
}

/* Carousel: Move arrows and indicator so that it does not obscure the view of the content. */

.carousel-control-prev {
  left: -50px
}

.carousel-control-next {
  right: -50px
}

.carousel-indicators {
  bottom: -50px;
}

/* Instagram Section */

/* .card{
  margin-bottom: 10px;
} */

/* Contact Section */

.contact {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(251, 211, 211, .5)), url(../assets/Google\ Maps\ Clovelly.png);
  background-size: cover;
}

.contact ::placeholder {
  color: #FBD3D3;
  text-align: center;
}

.contact input {
  border: 1px solid #FBD3D3;
  border-radius: 5px;
}

.contact-form button {
  text-align: center;
}

.btn-submit {
  background-color: #E2A1AB;
}

.footer {
  background-color: #707070;
}
